mat-cell:nth-child(1),
mat-header-cell:nth-child(1){
  display: flex;
  justify-content: center;
  flex: 0 0 15%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2){
  display: flex;
  justify-content: center;
  flex: 0 0 15%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3){
  display: flex;
  justify-content: center;
  flex: 0 0 15%;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4){
  display: flex;
  justify-content: center;
  flex: 0 0 25%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5){
  display: flex;
  justify-content: center;
  flex: 0 0 25%;
}

mat-cell:nth-child(6),
mat-header-cell:nth-child(6){
  display: flex;
  justify-content: center;
  flex: 0 0 15%;
}

mat-cell:nth-child(7),
mat-header-cell:nth-child(7){
  display: flex;
  justify-content: center;
  flex: 0 0 10%;
}


.title-center {
  margin: 0 auto;
}

.rezervacije-container {
  margin: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}