<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje nove sale:</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje sale: {{data.id}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje sale: {{data.id}}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input
          type="text"
          pattern="^[0-9]+$"
          matInput
          placeholder="Kapacitet"
          name="Kapacitet"
          [disabled]="flag == 3"
          [(ngModel)]="data.kapacitet"
          minlength="1"
          maxlength="4"
          required
        />
        <mat-error *ngIf="formControl.controls['Kapacitet']?.hasError('required') && formControl.controls['Kapacitet']?.touched">
          Kapacitet je obavezan.
        </mat-error>
        <mat-error *ngIf="formControl.controls['Kapacitet']?.hasError('minlength') && formControl.controls['Kapacitet']?.touched">
          Kapacitet mora da ima najmanje 1 broj.
        </mat-error>
        <mat-error *ngIf="formControl.controls['Kapacitet']?.hasError('maxlength') && formControl.controls['Kapacitet']?.touched">
          Kapacitet može da ima najviše 4 broja.
        </mat-error>
        <mat-error *ngIf="formControl.controls['Kapacitet']?.hasError('pattern') && formControl.controls['Kapacitet']?.touched">
          Kapacitet može da sadrži samo brojeve.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input
          type="text"
          pattern="^[0-9]+$"
          matInput
          placeholder="Broj redova"
          name="Broj redova"
          [disabled]="flag == 3"
          [(ngModel)]="data.broj_redova"
          minlength="1"
          maxlength="4"
          required
        />
        <mat-error *ngIf="formControl.controls['Broj redova']?.hasError('required') && formControl.controls['Broj redova']?.touched">
          Broj redova je obavezan.
        </mat-error>
        <mat-error *ngIf="formControl.controls['Broj redova']?.hasError('minlength') && formControl.controls['Broj redova']?.touched">
          Broj redova mora da ima najmanje 1 broj.
        </mat-error>
        <mat-error *ngIf="formControl.controls['Broj redova']?.hasError('maxlength') && formControl.controls['Broj redova']?.touched">
          Broj redova može da ima najviše 4 broja.
        </mat-error>
        <mat-error *ngIf="formControl.controls['Broj redova']?.hasError('pattern') && formControl.controls['Broj redova']?.touched">
          Broj redova može da sadrži samo brojeve.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select
          [compareWith]="compare"
          placeholder="Bioskop"
          name="Bioskop"
          [disabled]="flag == 3"
          [(ngModel)]="data.bioskop"
          required
        >
          <mat-option *ngFor="let bioskop of bioskopi" [value]="bioskop">
            {{ bioskop.naziv }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div class="mat-dialog-actions">
    <button
      matButton
      *ngIf="flag == 1"
      type="submit"
      mat-dialog-close="1"
      [disabled]="!formControl.valid"
      (click)="add()"
    >
      Sačuvaj
    </button>
    <button
      matButton
      *ngIf="flag == 2"
      type="submit"
      mat-dialog-close="1"
      [disabled]="!formControl.valid"
      (click)="update()"
    >
      Modifikuj
    </button>
    <button
      matButton
      *ngIf="flag == 3"
      mat-dialog-close="1"
      (click)="delete()"
    >
      Obriši
    </button>
    <button matButton (click)="cancel()">Poništi</button>
  </div>
</div>
