.container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    align-items: center;
    padding: 32px;
    gap: 16px;
  }
  
  form{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  h3{
    text-align: center;
  }
  
  .mat-form-field{
    font-size: 16px;
    flex-grow: 1;
  }
  
  .mat-dialog-actions{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
  }
  
  .mat-dialog-actions button{
    padding: 12px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
  }
  
  .mat-dialog-actions button:first-child{
    background-color: rgb(72, 235, 72);
  }
  
  .mat-dialog-actions button:last-child{
    background-color: rgb(217, 87, 87);
  }