<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center" routerLink="/home">
        <mat-icon>home</mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Aplikacija </mat-panel-title>
          <mat-panel-description>
            Aplikacija za vođenje evidencije bioskopa
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-raised-button routerLink="/film" color="accent"><mat-icon>movie</mat-icon> Film</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-raised-button routerLink="/sala" color="accent"><mat-icon>event_seat</mat-icon> Sala</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-raised-button routerLink="/bioskop" color="accent"><mat-icon>videocam</mat-icon> Bioskop</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="text-align: left">Informacije</mat-panel-title>
          <mat-panel-description>
            Osnovne informacije o aplikaciji
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-raised-button routerLink="/about" color="primary"><mat-icon>info</mat-icon> O nama</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-raised-button routerLink="/author" color="primary"><mat-icon>person</mat-icon> Autor</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-raised-button routerLink="/home" color="primary"><mat-icon>home</mat-icon> Početna</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
