<mat-toolbar color="accent">
    <span class="title-center">Autor</span>
  </mat-toolbar>
  
  <div class="container mat-elevation-z8">
    <div class="author-details">
      <div class="author-info">
        <h2>Jovan Granic</h2>
        <p>
          Jovan Granic je student na smeru Inženjerstvo informacionih sistema.
          Njegovi interesi uključuju razvoj web aplikacija, programiranje, i tehnologiju.
        </p>
        <p>
          Ovaj projekat je deo kursa Razvoj višeslojnih aplikacija 2023/24.
          Cilj projekta je razvijanje praktičnih veština u Angular-u i drugim modernim tehnologijama.
        </p>
        <p>
          <strong>Email:</strong> granic.it76.2021@uns.ac.rs
        </p>
      </div>
    </div>
  </div>
  